*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all ease 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --azul-header: #1f5299;
    --azul-letra: #4d99d8;
}

body{
    background-color: rgb(219, 219, 219);
}

.cabecalho{
    display: flex;
    background-color: var(--azul-header);
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 20px;
    gap: 30px;
}

.cabecalho > img {
    width: 30px;
    height: auto;
    color: white;
    padding: 6px;
}

.cabecalho > img:hover{
    background-color: var(--azul-letra);
    opacity: 0.5;
    border-radius: 2px;
}

h2{
    color: var(--azul-header);
    text-align: start;
}

p{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}