*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all ease 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --azul-header: #1f5299;
    --azul-letra: #4d99d8;
    --preto: #121212;
    --preto-claro: #3a3a3ad8;
    --laranja-destaque: #ff7300;
}

body{
    background-color: rgb(219, 219, 219);
}

.darki{background-color: var(--preto) !important;}
.h2{color: var(--laranja-destaque) !important;}
.light-dark{
    background-color: var(--preto-claro) !important;
    color: white;
}
.bckl{
    background-color: var(--laranja-destaque) !important;

}
.borda{border-color: var(--laranja-destaque) !important;}

.cabecalho{
    display: flex;
    background-color: var(--azul-header);
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    gap: 30px;
}

.cabecalho > img {
    width: 40px;
    height: auto;
    color: white;
    padding: 10px;
}

.dark-menu{
    background-color: var(--laranja-destaque);
    color: white;
}

.dark-menu > img:hover{
    background-color: var(--laranja-destaque);
    opacity: 0.5;
    border-radius: 2px;
}

.cabecalho > img:hover{
    background-color: var(--azul-letra);
    opacity: 0.5;
    border-radius: 2px;
}

h2{
    color: var(--azul-letra);
    text-align: start;
}

p{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}