.principal{
    display: grid;
    width: 100 vw;
    height: 800px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 400px;
    grid-auto-rows: 1fr;
    background-color: antiquewhite;
}

.personal{
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    width: 100%;
    grid-column: 2 / 3;
}
.personal > *{
    margin: 10px 0px;
}
#bruno{
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--azul-header);
}